.MainNews{
    width: 100%;
    margin-bottom: 30px;
    padding: 61px 0 32px 0;
    background-color: #F7F5FD;
}

.MainNews h1{
    text-align: center;
    font-size: 48px;
    line-height: 1.15;
    color: #3F3E3E;
    margin-bottom: 46px;
}

.newsWrap {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 14%; */
    padding: 0 16%;
    display: flex;
    justify-content: space-between;
    
}

.news{
    width: 300px;
}

.news div{
    /* width: 100px; */
    background: url('../../img/png/new2.png') no-repeat center;
    background-size: 100%;
    height: 127px;
}
.news:first-child div{
    background: url('../../img/png/new1.png') no-repeat center;
}

.news:last-child div{
    background: url('../../img/png/new3.png') no-repeat center;
}

.news a{
    text-decoration: none;
    font-size: 36px;
    line-height: 42px;
    color: #3F3E3E
}
.news p{
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    color: #828282;
}

@media (max-width: 1440px){
    .newsWrap{
        padding: 0 10%;
    }
    .news{
        width: 270px;
    }
}
@media (max-width: 1024px){
    .newsWrap{
        padding: 0 5%;
    }
    .news{
        width: 215px;
    }   
}

@media (max-width: 768px){
    
    .newsWrap{
        padding: 0 
    }
    .news{
        width: 180px;
    }  
}



@media (max-width: 550px){
    .newsWrap{
        flex-direction: column;
        align-items: center;
    }
    .news{
        width: 80%;
        margin-bottom: 10px;
    }
    .news a{
        display: block;
        text-align: center;
        font-size: 24px;
        
    }
    .news p{
        font-size: 14px;
    }
}

@media (max-width: 425px){
    .MainNews{
        padding-top: 20px;
        margin-bottom: 15px;
    }
    .MainNews h1 {
        font-size: 32px;
    }
    
    .news div{
        margin-bottom: 25px;
    } 
}


