@value colors: '../../css/colors.css';
@value darkOrange from colors;

.contact{
    width: 100%;
    font-size: 40px;
    color: darkOrange;
    text-align: center;
    min-height: 60px;
    font-family: RubikRegular;
}