@value colors: "../../css/colors.css";
@value whiteBasic, lightGrey, textColor from colors;

.advantages {
    width: 100%;
    min-height: 400px;
    background-color: lightGrey;
    font-family: RubikRegular;
    color: textColor;
}

.wrap{
    max-width: 1360px;
    padding-top: 60px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

.advantage{
    width: 300px;
    margin: 0 25px;
}

.advantageImg{
    display: block;
    width: 84px;
    margin: 10px auto;
}

.advantageTitle{
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 15px;
    white-space: pre-line;
}

.advantageDescription{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    white-space: pre-line;
    margin-bottom: 60px;
}

@media (min-width: 1024px){

    .advantages{
        position: relative;
        z-index: 1;
    }

    .wrap{
        padding-top: 30px;
    }

    .blur{
        position: absolute;
        z-index: 4;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(5px);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .advantage{
        position: relative;
        height: 185px;
        width: 265px;
        margin: 0 65px;
    }

    .advantageDescription{
        visibility: hidden;
        height: 0;
    }

    .advantage.active{
        z-index: 10;
        background-color: whiteBasic;
        transition: background-color 0.5s;
        
    }

    .advantage.active .advantageDescription{
        position: absolute;
        visibility: visible;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 150px;
        width: 265px;
        text-align: center;
        background-color: #fff;
        z-index: 10;
        transition: height 0.5s ease-in-out, visibility 0.1s ease-in-out;
    }

    .advantage:not(:first-child).active .advantageDescription{
        white-space: normal;
    }

    .advantage:nth-child(1).active .advantageDescription,
    .advantage:nth-child(2).active .advantageDescription,
    .advantage:nth-child(3).active .advantageDescription,
    .advantage:nth-child(4).active .advantageDescription{
        top: 150px;
        left: 0;
    }

    .advantage:nth-child(5).active .advantageDescription{
        top: -150px;
        left: 0;
    }
}

@media (min-width: 1360px){

    .wrap{
        max-width: 1260px;
    }

    .advantage:nth-child(4).active .advantageDescription{
        top: -150px;
        left: 0;
    }
}