.MainGoods{
    width: 100%;
    margin-bottom: 100px;
}
.title h1{
    font-family: 'Roboto';
    text-align: center;
    font-size: 48px;
    line-height: 1.15;
    color: #3F3E3E;
    margin-bottom: 40px;
}

.img{
    display: flex;
    justify-content: space-between;
}
.img div{
    height: 200px;
    width: 20%;
    /* background-size: 100%; */
    cursor: pointer;
}
.item1{
    background: url('../../img/jpg/1.jpg') no-repeat center;
}
.item2{
    background: url('../../img/jpg/2.jpg') no-repeat center;
}
.item3{
    background: url('../../img/jpg/3.jpg') no-repeat center;
}
.item4{
    background: url('../../img/jpg/4.jpg') no-repeat center;
}
.item5{
    background: url('../../img/jpg/5.jpg') no-repeat center;
}

@media (max-width: 1440px){
    .title h1{
        font-size: 42px;
        margin-bottom: 35px;
    }
    .img div{
        height: 180px;
        }
}

@media (max-width: 1024px){
    .title h1{
        font-size: 38px;
    }
    .img div{
        height: 160px;
       
    }
}

@media (max-width: 768px){
    .title h1{
        font-size: 32px;
        margin-bottom: 30px;
    }
    .img div{
        height: 130px;
    }
}

@media (max-width: 425px){
    .MainGoods{
        margin-bottom: 20px;
    }
    .title h1{
        font-size: 24px;
        margin-bottom: 20px;
    }
    .img div{
        width: 0%;
    }
    .img div:first-child{
        height: 150px;
        width: 100%;
    }
}


