.MainSlider{
    width: 100%;
    min-height: 510px;
    background: linear-gradient(178.28deg, #FFFEFE 5.02%, rgba(255, 255, 255, 0) 139.99%), url('../../img/jpg/113651.jpg');
    background-position: 50% 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 0px;
    padding-top: 120px;
}

.title h1{ 
   text-align: center;
   font-weight: 500;
   font-size: 48px;
   line-height: 1.15;
   color: #B195BB;
   margin-bottom: 10px;
}
.title h2{
    font-weight: 500;
    font-size: 36px;
    line-height: 1.15;
    text-align: center;
    color: #B195BB 
}
.toggle{
    display: flex;
    padding: 0 3% 0 3%;
    justify-content: space-between;
    margin: 40px;
}
.toggle span{
   font-size: 55px;
   line-height: 70px;
   color: #B195BB;
}
.details{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.details button{
    font-size: 24px;
    line-height: 1.15;
    color: #FFFFFF;
    padding: 14px 63px;
    background: #8E74DE;
    border: none;
    border-radius: 5px;
}
.radio{
    display: flex;
    justify-content: center;
}
.radio input{
    margin: 0 5px; 
}

@media (max-width: 768px){
    .MainSlider{
        padding-top: 10px;
        min-height: 163px;
    }
    .title h1{
        font-size: 24px;
    }
    .title h2{
        font-size: 18px;
        margin-bottom: 20px;
    }
    .toggle{
        display: none;
    }
    .details button{
        font-size: 10px;
        padding: 5px 15px;
    }
}

@media(max-width: 440px){
    .toggle{
        margin: 10px 20px;

    }
}

@media (max-width: 320px){
    .MainSlider{
        padding-top: 0;
        min-height: 163px;
    }

    .title h1{
        padding-top: 20px;
        font-size: 14px;
    }
    .title h2{
        font-size: 12px;
        margin-bottom: 32px;
    }
    
    
}