.FooterMenu{
    width: 100%
}
.FooterMenu h1{
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.FooterMenu a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: #828282;
}

@media(max-width: 768px){
    .FooterMenu{
        margin-bottom: 20px;
    }
    .FooterMenu h1{
        margin-bottom: 10px
    }
}

