.Footer{
    width: 100%;
    min-height: 62px;
    background-color: black;
    margin-bottom: 40px;
}

.wrap{
    margin: 0 auto;
    max-width: 1360px;
    padding: 13px 40px;
    display: flex;
    justify-content: space-between
}

.social{
    width: 105px;
    display: flex;
    justify-content: space-between;
}

.social div{
    width: 36px;
    height: 36px;
}

.twiter{
    background: url("./icons/Vector.png") no-repeat center,
                url("./icons/Vec.png") no-repeat center;
}

.facebook{
    background: url("./icons/Facebook.png") no-repeat center;
}
.contact{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF
}

.stubbs{
    font-family: HelveticaNeueCyr;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.link{
    text-decoration: none;
    cursor: pointer;
}

