@value colors: '../../css/colors.css';
@value darkOrange from colors;

.advantages{
    width: 100%;
    font-size: 60px;
    color: darkOrange;
    text-align: center;
    height: 100px;
    font-family: RubikRegular;
}