.slider{
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}    

.sliderTrack{
    position: absolute;
    width: 99999px;
    top: 0px;
    transition: left 1s;
}

.image{
    display: inline-block;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.toggle{
    position: absolute;
    top: 177px;
    width: 77%;
    display: flex;
    justify-content: space-between;
    z-index: 20;
 }

.left,
.rigth{
    width: 46px;
    height: 46px;
    border: 1px solid rgba(216, 99, 15, 0.76);
    border-radius: 50%; 
    outline: none;    
}

.left{
    background: url("./img/leftArrow.png") no-repeat center ;
    background-color: rgba(216, 99, 15, 0.76)
}

.rigth{
    background: url("./img/right.png") no-repeat center;
    background-color: rgba(216, 99, 15, 0.76)
}

.radio{
    position: absolute;
    top: 366px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    z-index: 20;
}

.radioButton{
    width: 14px;
    height: 14px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: white;
} 
.radioButton+.radioButton{
    margin-left: 15px;
}

.active{
    background-color: rgba(216, 99, 15, 0.76);
    border-color: rgba(216, 99, 15, 0.76);
}

@media (max-width: 900px){

    .slider,
    .image,
    .sliderTrack{
        height: 360px;
    }

    .radio{
        top: 326px;
    }
    
    .toggle{
        display: none
    }
}

@media (min-width: 1360px){
    
    .toggle{
        width: 1060px;
    }
}